{% extends 'base.html' %} 

{% block title %} CustomHome {% endblock %}

{% block body %}
    <h1>This is the New Custom Home Page!</h1>
    <br><br>
    {% for article in articles %}
        <h2>{{article.title}}</h2>
        <h4>{{article.ShortenText}}</h4>
        <h6>{{article.date}}</h6>
    {% endfor %}
{% endblock %}