{% extends 'base.html' %} 

{% block title %} Home {% endblock %}

{% block body %}
    <h1>This is the Home Page!</h1>
    <p>Welcome to Home</p>
    <h3>My name is {{ name }}.</h3>
    {{ number }}
    <br>
    <button type="button" class="btn btn-primary">Primary</button>
    <br><br><br><br>


    <h1>Custom Article Home Page!</h1>
    
{% endblock %}
