{% extends 'base.html' %} 
{% block title %} ModelForm {% endblock %} 
{% block body %}
<div class="container">
  <h1>Model Form Registration</h1>
  <form action="{% url 'modelform' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Username</label>
      {{modelform.username}}
    </div> 
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      {{modelform.password}}
    </div>

    <div class="form-group">
      <label>Email address</label>
      {{modelform.email}}
    </div>

    <div class="form-group">
      <label>Phone</label>
      {{modelform.phone}}
    </div>
    <input type="submit" value="Register" class="btn btn-success" />
  </form>
</div>
{% endblock %}
