{% extends 'base.html' %} 

{% block title %} News Archieve {% endblock %}

{% block body %}
    <h1>News picks for the year {{year}} are:</h1>

    {% for news in article_list %}
        <h2>{{news.author}}</h2>
        <h1>{{news.title}}</h1>
        <h4>{{news.pub_date}}</h4>
    {% endfor %}
{% endblock %}