{% extends 'base.html' %} 

{% block title %} News {% endblock %}

{% block body %}
    <h1>Here is the latest News.</h1>
    <p>Welcome to News Page!</p>

    <h1>{{data.author}}</h1>
    <h2>{{data.title}}</h2>
    <p>{{data.description}}</p>
{% endblock %}
