{% extends 'base.html' %} 

{% block title %} Sign Up {% endblock %} 
{% block body %}
<div class="container">
  <h2>Signup Form</h2>
  
  <ul class="messages">
    {% for msg in messages %}
      <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
        </div>

      </li>
    {% endfor %}
  </ul>

  <form action="{% url 'addUser' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label>Username</label>
      {{form.username}}
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      {{form.password}}
    </div>

    <div class="form-group">
      <label>Email address</label>
      {{form.email}}
    </div>

    <div class="form-group">
      <label>Phone</label>
      {{form.phone}}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
